{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">
		<a class="skip-link screen-reader-text" href="#content">{{ _e( 'Skip to content') }}</a>
		<header class="sticky top-0 z-50 mb-2 bg-white shadow-md header" x-data="{ open: false }">
			{% block header %}
				<div class="flex flex-wrap items-center justify-between wrapper">
          {# logo #}
          <div class="flex items-center flex-shrink-0 gap-2 pl-2">
            <button @click="open = true" class="p-2 text-2xl xl:hidden"><i class="las la-bars"></i></button>
            <h1 class="hdr-logo" role="banner">
              <a class="font-bold text-pink-600 uppercase hdr-logo-link" href="{{site.url}}" rel="home">{{site.name}}</a>
            </h1>
          </div>
          {# search #}
          <div class="relative order-last w-full md:w-auto md:order-none" x-data="searchData">
            <div class="flex items-stretch justify-center mx-auto w-80 xl:w-96 search">
              <input @input="search" x-model="t" type="text" name="search" id="search" class="flex-grow h-10 border-r-0 border-gray-200 search focus:border-gray-200 focus:ring-0 focus:outline-none rounded-l-md">
              <button class="flex-shrink-0 px-4 bg-gray-200 border-r search border-y-gray-200 border-y rounded-r-md">
                <i x-show="t.length == 0" class="las la-search"></i>
                <i x-show="t.length > 0" @click="empty" class="las la-times"></i>
              </button>
            </div>
            <template x-if="open">
              <ul class="absolute z-50 -translate-x-1/2 bg-white rounded-md shadow-xl search w-80 xl:w-96 top-12 left-1/2">
                <template x-for="r in result" :key="r.id">
                  <li class="py-1 mx-4 search">
                    <a class="search" :href="r.link" x-text="r.title.rendered"></a>
                  </li>
                </template>
              </ul>
            </template>
          </div>
          {# account #}
          <div class="flex flex-shrink-0 gap-2">
            <button class="p-2 text-2xl">
              <i class="las la-user"></i>
            </button>
            <div x-data="miniCartData">
              <button @click="openMiniCart" class="p-2 text-2xl focus-visible:outline-none">
                <i class="las la-shopping-bag"></i>
              </button>
              <dialog x-ref="miniCart" class="widget_shopping_cart_content">
                {{ fn('woocommerce_mini_cart') }}
              </dialog>
            </div>
          </div>
          {# nav #}
          <nav
            id="nav-main"
            class="fixed w-full h-full xl:static xl:block nav-main"
            :class="open ? 'block' : 'hidden'"
            role="navigation"
          >
            <div class="w-3/4 h-full bg-white xl:w-full">
              <div class="flex items-center justify-between px-4 xl:hidden">
                <h1 class="font-bold text-pink-600 uppercase hdr-logo" role="banner">{{site.name}}</h1>
                <button @click="open = false" class="p-2 text-2xl"><i class="las la-times"></i></button>
              </div>
              <div class="flex justify-center border-t border-t-gray-300">
                {% include "menu.twig" with {'items': menu.get_items} %}
              </div>
            </div>
					</nav><!-- #nav -->
				</div>
			{% endblock %}
		</header>

		<section id="content" role="main" class="content-wrapper">
			{% if title %}<h1>{{title}}</h1>{% endif %}
			<div class="wrapper {{sidebar_class}}">
				{% block content %}
					Sorry, no content
				{% endblock %}
			</div>
			{% if sidebar %}
				<aside class="layout-sidebar">
					{{sidebar}}
				</aside>
			{% endif %}
		</section>

		{% block footer %}
			<footer id="footer">
				{% include 'footer.twig' %}
			</footer>
			{{ function('wp_footer') }}
		{% endblock %}
	</body>
</html>
