{% extends "base.twig" %}

{% block content %}
  <section class="splide splide-slider" aria-label="CSS Slider">
    <div class="splide__track">
      <ul class="splide__list">
        {% for slide in slider %}
          <li style="background-image: url({{ Image(slide.image).src }})" class="flex items-center justify-center h-96 splide__slide">
            {% if slide.button_text %}
              <button class="text-white button bg-primary hover:bg-pink-600">{{ slide.button_text }}</button>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>
  </section>
  <section class="py-10 bg-purple-300">
    <div class="container flex flex-col gap-4 mx-auto">
      <h1 class="text-center">{{ items_grid_title }}</h1>
      <div class="flex splide splide-categories">
        <div class="splide__track">
          <ul class="splide__list xl:flex">
            {% for item in items_grid_items %}
              <li class="flex flex-col w-full gap-2 xl:w-1/4 splide__slide">
                <a
                  href="{{ item.link }}"
                  class="w-full aspect-square"
                  style="background-image: url({{ Image(item.meta( 'thumbnail_id' )).src }});"
                >
                </a>
                <h4 class="text-center">{{ item.title }}</h4>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="pt-10 pb-16 bg-gray-300">
    <div class="container flex flex-col gap-4 mx-auto">
      <h1 class="text-center">{{ products_grid_title }}</h1>
      <div class="splide splide-products">
        <div class="splide__track">
          <ul class="splide__list products">
            {% for post in products_grid %}
              {{ set_global_product( post ) }}
              {% include 'woocommerce/content-product.twig' with { product: post, c: 'splide__slide' } %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="container py-10 mx-auto">
    <h1 class="mb-4 text-center">{{ tiles_title }}</h1>
    <div class="flex flex-col gap-4">
      {% for tile in tiles %}
        <div class="flex flex-col items-start gap-2 md:flex-row">
          <img class="object-cover object-center w-full md:w-2/5 aspect-square" src="{{ Image(tile.image).src }}" />
          <div class="w-full md:w-3/5">
            <h3 class="mb-2 text-center">{{ tile.title }}</h3>
            <div class="w-full splide splide-tiles">
              <div class="splide__track">
                <ul class="splide__list products">
                  {% for post in tile.products %}
                    {{ set_global_product( post ) }}
                    {% include 'woocommerce/content-product.twig' with { product: post, c: 'splide__slide' } %}
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </section>
{% endblock %}