{% extends "base.twig" %}

{% block content %}
  <section class="splide" aria-label="CSS Slider">
    <div class="splide__track">
      <ul class="splide__list">
        {% for slide in slider %}
          <li style="background-image: url({{ Image(slide.image).src }})" class="flex items-center justify-center h-96 splide__slide">
            {% if slide.button_text %}
              <button class="text-white button bg-primary hover:bg-pink-600">{{ slide.button_text }}</button>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>
  </section>
  <section class="py-10 bg-purple-300">
    <div class="container flex flex-col gap-4 mx-auto">
      <h1 class="text-center">{{ items_grid_title }}</h1>
      <div class="flex gap-2">
        {% for item in items_grid_items %}
          <div class="flex flex-col w-1/4 gap-2">
            <a
              href="{{ item.link }}"
              class="w-full aspect-square"
              style="background-image: url({{ Image(item.meta( 'thumbnail_id' )).src }});"
            >
            </a>
            <h4 class="text-center">{{ item.title }}</h4>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
{% endblock %}